In [7]:
pip install pandas numpy matplotlib seaborn scikit-learn

Requirement already satisfied: pandas in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: matplotlib in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (3.10.0)
Requirement already satisfied: seaborn in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (0.13.2)
Requirement already satisfied: scikit-learn in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (1.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: contourpy>=1.0.1 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: scipy>=1.6.0 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six>=1.5 in f:\ml projects\titanic survival predictor\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

Import libraries

In [9]:
import numpy as np             
import pandas as pd        
import matplotlib.pyplot as plt    
import seaborn as sns   

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

Data Collection & Processing

In [11]:
#load the data
data = pd.read_csv(r'F:\ML Projects\Titanic Survival Predictor\train.csv')

In [12]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
data.shape

(891, 12)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [16]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Handeling the missing values